@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error {
  @apply flex flex-col max-w-2xl mx-auto mt-56 border border-zinc-400 p-4;

  h2 {
    @apply font-semibold pb-2
  }

  button {
    @apply bg-zinc-300 text-zinc-950 w-fit px-2 mt-2;
  }
}
